In [2]:
import pandas as pd
uriage_data=pd.read_csv("./pyda100-master/2장/uriage.csv")
uriage_data.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [4]:
kokyaku_data=pd.read_excel("./pyda100-master/2장/kokyaku_daicho.xlsx")
kokyaku_data.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

In [6]:
###데이터 오류 파악

uriage_data["item_name"].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [7]:
uriage_data["purchase_date"]=pd.to_datetime(uriage_data["purchase_date"])
uriage_data["purchase_month"]=uriage_data["purchase_date"].dt.strftime("%Y%m")
res=uriage_data.pivot_table(index="purchase_month",columns="item_name",aggfunc="size",fill_value=0)
res
##상품명이 26개이지만 입력 오류로 인해 99개의 컬럼이 생성된 것을 알 수 있다.

item_name,상 품 n,상품 E,상품 M,상품 P,상품 S,상품 W,상품 X,상품W,상 품O,상 품Q,...,상품k,상품l,상품o,상품p,상품r,상품s,상품t,상품v,상품x,상품y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [9]:
res=uriage_data.pivot_table(index="purchase_month",columns="item_name",values="item_price",aggfunc="sum",fill_value=0)
res

item_name,상 품 n,상품 E,상품 M,상품 P,상품 S,상품 W,상품 X,상품W,상 품O,상 품Q,...,상품k,상품l,상품o,상품p,상품r,상품s,상품t,상품v,상품x,상품y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1400,0,0,0,0,0,0,0,0,0,...,1100,1200,1500,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,2400,0,0,0,...,0,0,0,0,0,1900,2000,2200,0,0
201903,0,500,1300,1600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,0,0,0,0,0,0,0,2300,0,1700,...,0,0,0,0,0,1900,0,0,0,0
201905,0,0,0,0,1900,0,0,0,0,0,...,0,1200,0,0,0,0,0,0,0,2500
201906,0,0,0,0,0,2300,0,0,0,0,...,0,0,0,1600,0,0,0,0,2400,0
201907,0,0,0,0,0,0,0,0,0,0,...,0,0,1500,0,1800,0,0,0,0,0

In [10]:
print(len(pd.unique(uriage_data.item_name)))

99

In [11]:
##상품명 소문자를 대문자로
uriage_data["item_name"]=uriage_data["item_name"].str.upper()
##상품명 중 공백, 띄어쓰기 부분을 삭제
uriage_data["item_name"]=uriage_data["item_name"].str.replace(" ","")

In [12]:
uriage_data["item_name"]=uriage_data["item_name"].str.replace(" ","")
uriage_data.sort_values(by=["item_name"],ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       상품A       100.0           김가온         201906
1748 2019-05-19 20:22:00       상품A       100.0           김시훈         201905
223  2019-06-25 08:13:00       상품A       100.0           김유진         201906
1742 2019-06-13 16:03:00       상품A       100.0           김건희         201906
1738 2019-02-10 00:28:00       상품A       100.0           김하랑         201902
1721 2019-02-24 19:18:00       상품A       100.0           김은우         201902
1708 2019-03-27 17:10:00       상품A       100.0           김준희         201903
1707 2019-03-25 21:42:00       상품A       100.0           김주한         201903
234  2019-03-23 09:32:00       상품A       100.0           김찬우         201903
1684 2019-02-17 20:25:00       상품A       100.0           김경민         201902
497  2019-02-11 03:54:00       상품A       100.0           김우진         201902
1761 2019-05-04 14:44:00       상품A       100.0           김준후         201905
1658 2019-03-23 20:08:00       상품A       100.0           김은율         201903
1544 2019-01-21 11:49:00       상품A       100.0           김준호         201901
1513 2019-04-04 18:58:00       상품A       100.0           김승후         201904
1500 2019-02-28 17:25:00       상품A       100.0           김라온         201902
1498 2019-01-19 12:15:00       상품A       100.0           김승현         201901
1481 2019-03-10 03:52:00       상품A       100.0           김지완         201903
1474 2019-04-11 02:22:00       상품A         NaN           김선우         201904
274  2019-07-27 01:45:00       상품A       100.0           김지운         201907
1454 2019-01-16 07:35:00       상품A       100.0           김강현         201901
1398 2019-06-13 02:20:00       상품A       100.0           김준서         201906
1394 2019-07-07 21:49:00       상품A         NaN           김은우         201907
1576 2019-05-06 02:40:00       상품A       100.0           김은우         201905
211  2019-02-12 02:52:00       상품A       100.0           김서후         201902
210  2019-07-08 04:17:00       상품A       100.0           김강현         201907
1835 2019-06-20 12:57:00       상품A       100.0           김지후         201906
2384 2019-04-27 02:50:00       상품A       100.0           김현서         201904
117  2019-06-14 09:08:00       상품A       100.0           김가온         201906
2352 2019-07-28 07:55:00       상품A       100.0           김승윤         201907
...                  ...       ...         ...           ...            ...
214  2019-06-02 01:01:00       상품Y      2500.0           김재윤         201906
707  2019-02-08 19:17:00       상품Y      2500.0           김대현         201902
2123 2019-06-19 14:40:00       상품Y         NaN           김현진         201906
2909 2019-04-27 21:33:00       상품Y      2500.0           김상민         201904
2910 2019-05-16 07:16:00       상품Y      2500.0           김하랑         201905
702  2019-06-20 19:09:00       상품Y      2500.0           김도현         201906
198  2019-04-13 13:05:00       상품Y      2500.0           김준수         201904
689  2019-05-24 17:03:00       상품Y      2500.0           김지오         201905
1571 2019-05-10 17:54:00       상품Y         NaN           김태민         201905
833  2019-07-29 11:07:00       상품Y      2500.0           김재윤         201907
743  2019-06-09 04:18:00       상품Y      2500.0           김규민         201906
26   2019-05-16 04:45:00       상품Y      2500.0           김태현         201905
2857 2019-06-13 22:19:00       상품Y      2500.0           김승재         201906
2446 2019-03-30 18:50:00       상품Y         NaN           김하율         201903
2679 2019-05-04 13:03:00       상품Y      2500.0           김승준         201905
1882 2019-07-31 16:58:00       상품Y         NaN           김범준         201907
805  2019-07-29 07:17:00       상품Y      2500.0           김민찬         201907
2452 2019-05-01 17:42:00       상품Y      2500.0           김재훈         201905
2889 2019-06-14 10:11:00       상품Y      2500.0           김도영         201906
1732 2019-02-20 05:22:00       상품Y         NaN           김은혁         201902
2090 2019-06-13 07:18:00       상품Y      2500.0           김민규         201906
2100 2019-02-27 01:24:00       상품Y      2500.0           김준성         201902
1878 2019-01-29 13:58:00       상품Y      2500.0           김하진         201901
2527 2019-05-17 18:15:00       상품Y      2500.0           김민기         201905
2526 2019-05-26 10:26:00       상품Y      2500.0           김재민         201905
2880 2019-04-22 00:36:00       상품Y         NaN           김동욱         201904
2881 2019-04-30 14:21:00       상품Y         NaN           김하준         201904
1525 2019-01-24 10:27:00       상품Y      2500.0           김범준         201901
1361 2019-05-28 13:45:00       상품Y      2500.0           김수현         201905
3    2019-02-12 23:40:00       상품Z      2600.0           김재현         201902

[2999 rows x 5 columns]

In [13]:
print(len(pd.unique(uriage_data["item_name"])))
print(pd.unique(uriage_data["item_name"]))

26
['상품A' '상품S' '상품Z' '상품V' '상품O' '상품U' '상품L' '상품C' '상품I' '상품R' '상품X' '상품G'
 '상품P' '상품Q' '상품Y' '상품N' '상품W' '상품E' '상품K' '상품B' '상품F' '상품D' '상품M' '상품H'
 '상품T' '상품J']

In [14]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [15]:
flg_is_null=uriage_data["item_price"].isnull()
for trg in list(uriage_data.loc[flg_is_null,"item_name"].unique()):
    price=uriage_data.loc[(~flg_is_null)&(uriage_data["item_name"]==trg),"item_price"].max()
    uriage_data["item_price"].loc[(flg_is_null)&(uriage_data["item_name"]==trg)]=price
    
uriage_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:00       상품A       100.0           김가온         201906
1 2019-07-13 13:05:00       상품S      1900.0           김우찬         201907
2 2019-05-11 19:42:00       상품A       100.0           김유찬         201905
3 2019-02-12 23:40:00       상품Z      2600.0           김재현         201902
4 2019-04-22 03:09:00       상품A       100.0           김강현         201904

In [16]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [19]:
for trg in list(uriage_data["item_name"].sort_values().unique()):
    print(trg+"의 최고가: "+str(uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].max())+"의 최저가: "
          +str(uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].min(skipna=False)))

상품A의 최고가: 100.0의 최저가: 100.0
상품B의 최고가: 200.0의 최저가: 200.0
상품C의 최고가: 300.0의 최저가: 300.0
상품D의 최고가: 400.0의 최저가: 400.0
상품E의 최고가: 500.0의 최저가: 500.0
상품F의 최고가: 600.0의 최저가: 600.0
상품G의 최고가: 700.0의 최저가: 700.0
상품H의 최고가: 800.0의 최저가: 800.0
상품I의 최고가: 900.0의 최저가: 900.0
상품J의 최고가: 1000.0의 최저가: 1000.0
상품K의 최고가: 1100.0의 최저가: 1100.0
상품L의 최고가: 1200.0의 최저가: 1200.0
상품M의 최고가: 1300.0의 최저가: 1300.0
상품N의 최고가: 1400.0의 최저가: 1400.0
상품O의 최고가: 1500.0의 최저가: 1500.0
상품P의 최고가: 1600.0의 최저가: 1600.0
상품Q의 최고가: 1700.0의 최저가: 1700.0
상품R의 최고가: 1800.0의 최저가: 1800.0
상품S의 최고가: 1900.0의 최저가: 1900.0
상품T의 최고가: 2000.0의 최저가: 2000.0
상품U의 최고가: 2100.0의 최저가: 2100.0
상품V의 최고가: 2200.0의 최저가: 2200.0
상품W의 최고가: 2300.0의 최저가: 2300.0
상품X의 최고가: 2400.0의 최저가: 2400.0
상품Y의 최고가: 2500.0의 최저가: 2500.0
상품Z의 최고가: 2600.0의 최저가: 2600.0

In [20]:
kokyaku_data["고객이름"].head()

0    김 현성
1    김 도윤
2    김 지한
3    김 하윤
4    김 시온
Name: 고객이름, dtype: object

In [21]:
uriage_data["customer_name"].head()

0    김가온
1    김우찬
2    김유찬
3    김재현
4    김강현
Name: customer_name, dtype: object

In [24]:
kokyaku_data["고객이름"]=kokyaku_data["고객이름"].str.replace("  ","")
kokyaku_data["고객이름"]=kokyaku_data["고객이름"].str.replace(" ","")
kokyaku_data["고객이름"].head()

0    김현성
1    김도윤
2    김지한
3    김하윤
4    김시온
Name: 고객이름, dtype: object

In [26]:
flg_is_serial=kokyaku_data["등록일"].astype("str").str.isdigit()
flg_is_serial.sum()

22

In [27]:
fromSerial=pd.to_timedelta(kokyaku_data.loc[flg_is_serial,"등록일"].astype("float"),unit="D")+pd.to_datetime("1900/01/01")
fromSerial

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: 등록일, dtype: datetime64[ns]

In [28]:
fromString=pd.to_datetime(kokyaku_data.loc[~flg_is_serial,"등록일"])
fromString

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
8     2018-02-12
9     2017-07-05
10    2018-03-31
11    2017-04-22
12    2018-03-09
13    2017-03-13
14    2018-01-24
15    2017-06-09
16    2018-05-02
17    2017-02-05
18    2018-07-10
19    2017-07-08
20    2018-03-12
22    2018-02-28
23    2017-05-16
24    2018-01-29
25    2017-03-17
26    2018-06-28
28    2018-05-21
29    2017-03-12
30    2018-07-01
31    2017-01-30
32    2018-02-06
33    2017-01-30
34    2018-04-21
         ...
165   2017-02-18
166   2018-03-04
167   2017-03-29
168   2018-07-02
169   2017-06-28
170   2018-05-27
171   2017-02-22
173   2017-02-05
174   2018-01-09
175   2017-06-12
176   2018-02-14
177   2017-04-14
178   2018-03-15
180   2018-07-19
181   2017-05-23
182   2018-05-01
184   2018-05-24
185   2017-04-08
187   2017-05-09
188   2018-07-22
189   2017-07-30
190   2018-06-14
191   2017-01-28
193   2017-05-05
194   2018-02-27
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 등록일, Length: 178, dtype: datetime64[ns]

In [31]:
kokyaku_data["등록일"]=pd.concat([fromSerial,fromString])
kokyaku_data

    고객이름  지역        등록일
0    김현성  H시 2018-01-04
1    김도윤  E시 2017-02-18
2    김지한  A시 2018-01-07
3    김하윤  F시 2017-05-19
4    김시온  E시 2018-01-29
5    김예성  A시 2017-06-20
6    김하람  H시 2018-06-11
7    김호준  B시 2017-05-19
8    김지완  G시 2018-02-12
9    김주호  G시 2017-07-05
10   김재원  E시 2018-03-31
11   김승민  A시 2017-04-22
12   김준형  C시 2018-03-09
13   김동건  D시 2017-03-13
14   김준서  E시 2018-01-24
15   김수혁  G시 2017-06-09
16   김진우  D시 2018-05-02
17   김윤호  G시 2017-02-05
18   김윤서  H시 2018-07-10
19   김준희  H시 2017-07-08
20   김윤우  A시 2018-03-12
21   김동우  A시 2017-07-06
22   김성빈  H시 2018-02-28
23   김태준  E시 2017-05-16
24   김태경  D시 2018-01-29
25   김승후  C시 2017-03-17
26   김현우  C시 2018-06-28
27   김서준  C시 2017-06-17
28   김주원  C시 2018-05-21
29   김태인  F시 2017-03-12
..   ...  ..        ...
170  김시환  F시 2018-05-27
171  김수현  E시 2017-02-22
172  김서율  G시 2018-03-24
173  정준기  B시 2017-02-05
174  김성훈  B시 2018-01-09
175  김시호  H시 2017-06-12
176  김재호  C시 2018-02-14
177  김재우  D시 2017-04-14
178  김동하  F시 2018-03-15
179  김우현  C시 2017-01-10
180  김민기  G시 2018-07-19
181  김승환  B시 2017-05-23
182  김다온  A시 2018-05-01
183  김승우  B시 2017-07-26
184  김성준  H시 2018-05-24
185  김승호  F시 2017-04-08
186  김승주  E시 2018-07-15
187  김태윤  E시 2017-05-09
188  김민수  D시 2018-07-22
189  김현민  D시 2017-07-30
190  김유진  B시 2018-06-14
191  김지안  B시 2017-01-28
192  김현석  H시 2018-06-10
193  김선우  H시 2017-05-05
194  김지원  H시 2018-02-27
195  김재희  G시 2017-06-20
196  김도영  E시 2018-06-20
197  김이안  F시 2017-04-29
198  김시현  H시 2019-04-19
199  김서우  D시 2019-04-23

[200 rows x 3 columns]

In [32]:
kokyaku_data["등록연월"]=kokyaku_data["등록일"].dt.strftime("%Y%m")
rslt=kokyaku_data.groupby("등록연월").count()["고객이름"]
print(rslt)
print(len(kokyaku_data))

등록연월
201701    15
201702    11
201703    14
201704    15
201705    13
201706    14
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: 고객이름, dtype: int64
200

In [33]:
flg_is_serial=kokyaku_data["등록일"].astype("str").str.isdigit()
flg_is_serial.sum()

0

In [34]:
join_data=pd.merge(uriage_data,kokyaku_data, left_on="customer_name",right_on="고객이름",how="left")
join_data=join_data.drop("customer_name",axis=1)
join_data

,purchase_date,item_name,item_price,purchase_month,고객이름,지역,등록일,등록연월
0,2019-06-13 18:02:00,상품A,100.0,201906,김가온,C시,2017-01-26,201701
1,2019-07-13 13:05:00,상품S,1900.0,201907,김우찬,C시,2018-04-07,201804
2,2019-05-11 19:42:00,상품A,100.0,201905,김유찬,A시,2018-06-19,201806
3,2019-02-12 23:40:00,상품Z,2600.0,201902,김재현,D시,2018-07-22,201807
4,2019-04-22 03:09:00,상품A,100.0,201904,김강현,D시,2017-06-07,201706
5,2019-03-20 19:16:00,상품S,1900.0,201903,김우진,H시,2018-05-14,201805
6,2019-05-18 19:16:00,상품A,100.0,201905,김재준,A시,2018-02-21,201802
7,2019-04-18 00:14:00,상품V,2200.0,201904,김민혁,A시,2017-05-13,201705
8,2019-01-10 15:51:00,상품O,1500.0,201901,김선우,H시,2017-05-05,201705
9,2019-01-28 10:47:00,상품A,100.0,201901,김태윤,E시,2017-05-09,201705
10,2019-06-21 01:54:00,상품U,2100.0,201906,김시완,A시,2018-05-20,201805
11,2019-06-08 11:32:00,상품L,1200.0,201906,김도윤,E시,2017-02-18,201702
12,2019-04-08 02:00:00,상품V,2200.0,201904,김주한,D시,2018-06-05,201806
13,2019-06-19 09:50:00,상품O,1500.0,201906,김도원,A시,2017-03-29,201703
14,2019-06-11 12:57:00,상품A,100.0,201906,김재호,C시,2018-02-14,201802
15,2019-04-21 00:11:00,상품C,300.0,201904,김지율,B시,2017-03-15,201703
16,2019-03-28 23:24:00,상품V,2200.0,201903,김재훈,D시,2017-03-23,201703
17,2019-04-06 12:00:00,상품I,900.0,201904,김상현,G시,2017-03-26,201703
18,2019-07-16 05:55:00,상품R,1800.0,201907,김준성,D시,2017-07-28,201707
19,2019-07-03 07:04:00,상품X,2400.0,201907,김성민,A시,2018-02-06,201802
20,2019-07-05 10:49:00,상품O,1500.0,201907,김서후,A시,2017-05-23,201705
21,2019-06-10 19:07:00,상품G,700.0,201906,김승유,A시,2017-04-27,201704
22,2019-07-10 20:28:00,상품X,2400.0,201907,김동욱,A시,2018-07-04,201807
23,2019-07-10 12:44:00,상품R,1800.0,201907,김대현,H시,2017-01-30,201701
24,2019-02-14 01:30:00,상품P,1600.0,201902,김동건,D시,2017-03-13,201703
25,2019-04-18 01:50:00,상품Q,1700.0,201904,김우찬,C시,2018-04-07,201804
26,2019-05-16 04:45:00,상품Y,2500.0,201905,김태현,B시,2018-02-13,201802
27,2019-05-26 10:58:00,상품P,1600.0,201905,김다온,A시,2018-05-01,201805
28,2019-01-04 12:05:00,상품P,1600.0,201901,김우진,H시,2018-05-14,201805
29,2019-02-11 18:32:00,상품R,1800.0,201902,김하윤,F시,2017-05-19,201705
...,...,...,...,...,...,...,...,...
2969,2019-02-01 03:48:00,상품O,1500.0,201902,김은혁,E시,2017-01-21,201701
2970,2019-03-15 11:17:00,상품L,1200.0,201903,김시훈,E시,2018-07-23,201807
2971,2019-02-02 04:52:00,상품S,1900.0,201902,김태우,F시,2018-06-18,201806
2972,2019-04-30 19:47:00,상품R,1800.0,201904,김준수,E시,2018-02-17,201802
2973,2019-07-13 21:38:00,상품A,100.0,201907,김태윤,E시,2017-05-09,201705
2974,2019-02-04 17:08:00,상품P,1600.0,201902,김예준,C시,2018-07-22,201807
2975,2019-07-21 10:36:00,상품Y,2500.0,201907,김지오,F시,2017-05-27,201705
2976,2019-07-11 00:11:00,상품L,1200.0,201907,김윤찬,C시,2017-04-06,201704
2977,2019-03-02 20:55:00,상품X,2400.0,201903,김우준,D시,2018-05-22,201805
2978,2019-04-06 21:20:00,상품N,1400.0,201904,김우찬,C시,2018-04-07,201804
2979,2019-03-09 17:26:00,상품N,1400.0,201903,김승빈,G시,2017-07-07,201707
2980,2019-07-01 02:15:00,상품P,1600.0,201907,김지오,F시,2017-05-27,201705
2981,2019-04-26 22:17:00,상품R,1800.0,201904,김현승,A시,2018-01-08,201801
2982,2019-02-18 16:53:00,상품L,1200.0,201902,김민서,B시,2018-07-02,201807
2983,2019-05-09 00:44:00,상품H,800.0,201905,김민준,H시,2017-07-01,201707
2984,2019-03-06 06:16:00,상품G,700.0,201903,김승호,F시,2017-04-08,201704
2985,2019-03-06 22:30:00,상품X,2400.0,201903,김현진,H시,2017-07-13,201707
2986,2019-03-12 19:34:00,상품C,300.0,201903,김정후,G시,2018-05-07,201805
2987,2019-01-04 13:05:00,상품K,1100.0,201901,김정훈,D시,2018-07-30,201807
2988,2019-01-23 07:08:00,상품R,1800.0,201901,김시완,A시,2018-05-20,201805
2989,2019-05-19 03:20:00,상품M,1300.0,201905,김태훈,A시,2018-01-06,201801
2990,2019-07-16 11:34:00,상품O,1500.0,201907,김서준,C시,2017-06-17,201706
2991,2019-02-18 14:36:00,상품W,2300.0,201902,김우빈,D시,2017-07-20,201707
2992,2019-07-27 10:13:00,상품C,300.0,201907,김동하,F시,2018-03-15,201803
2993,2019-01-25 03:57:00,상품C,300.0,201901,김이안,F시,2017-04-29,201704
2994,2019-02-15 02:56:00,상품Y,2500.0,201902,김정민,B시,2017-07-01,201707
2995,2019-06-22 04:03:00,상품M,1300.0,201906,김재원,E시,2018-03-31,201803
2996,2019-03-29 11:14:00,상품Q,1700.0,201903,김지율,B시,2017-03-15,201703
2997,2019-07-14 12:56:00,상품H,800.0,201907,김승주,E시,2018-07-15,201807
2998,2019-07-21 00:31:00,상품D,400.0,201907,정준기,B시,2017-02-05,201702

In [35]:
dump_data=join_data[["purchase_date","purchase_month","item_name","item_price","고객이름","지역","등록일"]]
dump_data

,purchase_date,purchase_month,item_name,item_price,고객이름,지역,등록일
0,2019-06-13 18:02:00,201906,상품A,100.0,김가온,C시,2017-01-26
1,2019-07-13 13:05:00,201907,상품S,1900.0,김우찬,C시,2018-04-07
2,2019-05-11 19:42:00,201905,상품A,100.0,김유찬,A시,2018-06-19
3,2019-02-12 23:40:00,201902,상품Z,2600.0,김재현,D시,2018-07-22
4,2019-04-22 03:09:00,201904,상품A,100.0,김강현,D시,2017-06-07
5,2019-03-20 19:16:00,201903,상품S,1900.0,김우진,H시,2018-05-14
6,2019-05-18 19:16:00,201905,상품A,100.0,김재준,A시,2018-02-21
7,2019-04-18 00:14:00,201904,상품V,2200.0,김민혁,A시,2017-05-13
8,2019-01-10 15:51:00,201901,상품O,1500.0,김선우,H시,2017-05-05
9,2019-01-28 10:47:00,201901,상품A,100.0,김태윤,E시,2017-05-09
10,2019-06-21 01:54:00,201906,상품U,2100.0,김시완,A시,2018-05-20
11,2019-06-08 11:32:00,201906,상품L,1200.0,김도윤,E시,2017-02-18
12,2019-04-08 02:00:00,201904,상품V,2200.0,김주한,D시,2018-06-05
13,2019-06-19 09:50:00,201906,상품O,1500.0,김도원,A시,2017-03-29
14,2019-06-11 12:57:00,201906,상품A,100.0,김재호,C시,2018-02-14
15,2019-04-21 00:11:00,201904,상품C,300.0,김지율,B시,2017-03-15
16,2019-03-28 23:24:00,201903,상품V,2200.0,김재훈,D시,2017-03-23
17,2019-04-06 12:00:00,201904,상품I,900.0,김상현,G시,2017-03-26
18,2019-07-16 05:55:00,201907,상품R,1800.0,김준성,D시,2017-07-28
19,2019-07-03 07:04:00,201907,상품X,2400.0,김성민,A시,2018-02-06
20,2019-07-05 10:49:00,201907,상품O,1500.0,김서후,A시,2017-05-23
21,2019-06-10 19:07:00,201906,상품G,700.0,김승유,A시,2017-04-27
22,2019-07-10 20:28:00,201907,상품X,2400.0,김동욱,A시,2018-07-04
23,2019-07-10 12:44:00,201907,상품R,1800.0,김대현,H시,2017-01-30
24,2019-02-14 01:30:00,201902,상품P,1600.0,김동건,D시,2017-03-13
25,2019-04-18 01:50:00,201904,상품Q,1700.0,김우찬,C시,2018-04-07
26,2019-05-16 04:45:00,201905,상품Y,2500.0,김태현,B시,2018-02-13
27,2019-05-26 10:58:00,201905,상품P,1600.0,김다온,A시,2018-05-01
28,2019-01-04 12:05:00,201901,상품P,1600.0,김우진,H시,2018-05-14
29,2019-02-11 18:32:00,201902,상품R,1800.0,김하윤,F시,2017-05-19
...,...,...,...,...,...,...,...
2969,2019-02-01 03:48:00,201902,상품O,1500.0,김은혁,E시,2017-01-21
2970,2019-03-15 11:17:00,201903,상품L,1200.0,김시훈,E시,2018-07-23
2971,2019-02-02 04:52:00,201902,상품S,1900.0,김태우,F시,2018-06-18
2972,2019-04-30 19:47:00,201904,상품R,1800.0,김준수,E시,2018-02-17
2973,2019-07-13 21:38:00,201907,상품A,100.0,김태윤,E시,2017-05-09
2974,2019-02-04 17:08:00,201902,상품P,1600.0,김예준,C시,2018-07-22
2975,2019-07-21 10:36:00,201907,상품Y,2500.0,김지오,F시,2017-05-27
2976,2019-07-11 00:11:00,201907,상품L,1200.0,김윤찬,C시,2017-04-06
2977,2019-03-02 20:55:00,201903,상품X,2400.0,김우준,D시,2018-05-22
2978,2019-04-06 21:20:00,201904,상품N,1400.0,김우찬,C시,2018-04-07
2979,2019-03-09 17:26:00,201903,상품N,1400.0,김승빈,G시,2017-07-07
2980,2019-07-01 02:15:00,201907,상품P,1600.0,김지오,F시,2017-05-27
2981,2019-04-26 22:17:00,201904,상품R,1800.0,김현승,A시,2018-01-08
2982,2019-02-18 16:53:00,201902,상품L,1200.0,김민서,B시,2018-07-02
2983,2019-05-09 00:44:00,201905,상품H,800.0,김민준,H시,2017-07-01
2984,2019-03-06 06:16:00,201903,상품G,700.0,김승호,F시,2017-04-08
2985,2019-03-06 22:30:00,201903,상품X,2400.0,김현진,H시,2017-07-13
2986,2019-03-12 19:34:00,201903,상품C,300.0,김정후,G시,2018-05-07
2987,2019-01-04 13:05:00,201901,상품K,1100.0,김정훈,D시,2018-07-30
2988,2019-01-23 07:08:00,201901,상품R,1800.0,김시완,A시,2018-05-20
2989,2019-05-19 03:20:00,201905,상품M,1300.0,김태훈,A시,2018-01-06
2990,2019-07-16 11:34:00,201907,상품O,1500.0,김서준,C시,2017-06-17
2991,2019-02-18 14:36:00,201902,상품W,2300.0,김우빈,D시,2017-07-20
2992,2019-07-27 10:13:00,201907,상품C,300.0,김동하,F시,2018-03-15
2993,2019-01-25 03:57:00,201901,상품C,300.0,김이안,F시,2017-04-29
2994,2019-02-15 02:56:00,201902,상품Y,2500.0,김정민,B시,2017-07-01
2995,2019-06-22 04:03:00,201906,상품M,1300.0,김재원,E시,2018-03-31
2996,2019-03-29 11:14:00,201903,상품Q,1700.0,김지율,B시,2017-03-15
2997,2019-07-14 12:56:00,201907,상품H,800.0,김승주,E시,2018-07-15
2998,2019-07-21 00:31:00,201907,상품D,400.0,정준기,B시,2017-02-05

In [36]:
dump_data.to_csv("dump_data.csv",index=False)

In [37]:
import_data=pd.read_csv("dump_data.csv")

In [39]:
import_data

,purchase_date,purchase_month,item_name,item_price,고객이름,지역,등록일
0,2019-06-13 18:02:00,201906,상품A,100.0,김가온,C시,2017-01-26 00:00:00
1,2019-07-13 13:05:00,201907,상품S,1900.0,김우찬,C시,2018-04-07 00:00:00
2,2019-05-11 19:42:00,201905,상품A,100.0,김유찬,A시,2018-06-19 00:00:00
3,2019-02-12 23:40:00,201902,상품Z,2600.0,김재현,D시,2018-07-22 00:00:00
4,2019-04-22 03:09:00,201904,상품A,100.0,김강현,D시,2017-06-07 00:00:00
5,2019-03-20 19:16:00,201903,상품S,1900.0,김우진,H시,2018-05-14 00:00:00
6,2019-05-18 19:16:00,201905,상품A,100.0,김재준,A시,2018-02-21 00:00:00
7,2019-04-18 00:14:00,201904,상품V,2200.0,김민혁,A시,2017-05-13 00:00:00
8,2019-01-10 15:51:00,201901,상품O,1500.0,김선우,H시,2017-05-05 00:00:00
9,2019-01-28 10:47:00,201901,상품A,100.0,김태윤,E시,2017-05-09 00:00:00
10,2019-06-21 01:54:00,201906,상품U,2100.0,김시완,A시,2018-05-20 00:00:00
11,2019-06-08 11:32:00,201906,상품L,1200.0,김도윤,E시,2017-02-18 00:00:00
12,2019-04-08 02:00:00,201904,상품V,2200.0,김주한,D시,2018-06-05 00:00:00
13,2019-06-19 09:50:00,201906,상품O,1500.0,김도원,A시,2017-03-29 00:00:00
14,2019-06-11 12:57:00,201906,상품A,100.0,김재호,C시,2018-02-14 00:00:00
15,2019-04-21 00:11:00,201904,상품C,300.0,김지율,B시,2017-03-15 00:00:00
16,2019-03-28 23:24:00,201903,상품V,2200.0,김재훈,D시,2017-03-23 00:00:00
17,2019-04-06 12:00:00,201904,상품I,900.0,김상현,G시,2017-03-26 00:00:00
18,2019-07-16 05:55:00,201907,상품R,1800.0,김준성,D시,2017-07-28 00:00:00
19,2019-07-03 07:04:00,201907,상품X,2400.0,김성민,A시,2018-02-06 00:00:00
20,2019-07-05 10:49:00,201907,상품O,1500.0,김서후,A시,2017-05-23 00:00:00
21,2019-06-10 19:07:00,201906,상품G,700.0,김승유,A시,2017-04-27 00:00:00
22,2019-07-10 20:28:00,201907,상품X,2400.0,김동욱,A시,2018-07-04 00:00:00
23,2019-07-10 12:44:00,201907,상품R,1800.0,김대현,H시,2017-01-30 00:00:00
24,2019-02-14 01:30:00,201902,상품P,1600.0,김동건,D시,2017-03-13 00:00:00
25,2019-04-18 01:50:00,201904,상품Q,1700.0,김우찬,C시,2018-04-07 00:00:00
26,2019-05-16 04:45:00,201905,상품Y,2500.0,김태현,B시,2018-02-13 00:00:00
27,2019-05-26 10:58:00,201905,상품P,1600.0,김다온,A시,2018-05-01 00:00:00
28,2019-01-04 12:05:00,201901,상품P,1600.0,김우진,H시,2018-05-14 00:00:00
29,2019-02-11 18:32:00,201902,상품R,1800.0,김하윤,F시,2017-05-19 00:00:00
...,...,...,...,...,...,...,...
2969,2019-02-01 03:48:00,201902,상품O,1500.0,김은혁,E시,2017-01-21 00:00:00
2970,2019-03-15 11:17:00,201903,상품L,1200.0,김시훈,E시,2018-07-23 00:00:00
2971,2019-02-02 04:52:00,201902,상품S,1900.0,김태우,F시,2018-06-18 00:00:00
2972,2019-04-30 19:47:00,201904,상품R,1800.0,김준수,E시,2018-02-17 00:00:00
2973,2019-07-13 21:38:00,201907,상품A,100.0,김태윤,E시,2017-05-09 00:00:00
2974,2019-02-04 17:08:00,201902,상품P,1600.0,김예준,C시,2018-07-22 00:00:00
2975,2019-07-21 10:36:00,201907,상품Y,2500.0,김지오,F시,2017-05-27 00:00:00
2976,2019-07-11 00:11:00,201907,상품L,1200.0,김윤찬,C시,2017-04-06 00:00:00
2977,2019-03-02 20:55:00,201903,상품X,2400.0,김우준,D시,2018-05-22 00:00:00
2978,2019-04-06 21:20:00,201904,상품N,1400.0,김우찬,C시,2018-04-07 00:00:00
2979,2019-03-09 17:26:00,201903,상품N,1400.0,김승빈,G시,2017-07-07 00:00:00
2980,2019-07-01 02:15:00,201907,상품P,1600.0,김지오,F시,2017-05-27 00:00:00
2981,2019-04-26 22:17:00,201904,상품R,1800.0,김현승,A시,2018-01-08 00:00:00
2982,2019-02-18 16:53:00,201902,상품L,1200.0,김민서,B시,2018-07-02 00:00:00
2983,2019-05-09 00:44:00,201905,상품H,800.0,김민준,H시,2017-07-01 00:00:00
2984,2019-03-06 06:16:00,201903,상품G,700.0,김승호,F시,2017-04-08 00:00:00
2985,2019-03-06 22:30:00,201903,상품X,2400.0,김현진,H시,2017-07-13 00:00:00
2986,2019-03-12 19:34:00,201903,상품C,300.0,김정후,G시,2018-05-07 00:00:00
2987,2019-01-04 13:05:00,201901,상품K,1100.0,김정훈,D시,2018-07-30 00:00:00
2988,2019-01-23 07:08:00,201901,상품R,1800.0,김시완,A시,2018-05-20 00:00:00
2989,2019-05-19 03:20:00,201905,상품M,1300.0,김태훈,A시,2018-01-06 00:00:00
2990,2019-07-16 11:34:00,201907,상품O,1500.0,김서준,C시,2017-06-17 00:00:00
2991,2019-02-18 14:36:00,201902,상품W,2300.0,김우빈,D시,2017-07-20 00:00:00
2992,2019-07-27 10:13:00,201907,상품C,300.0,김동하,F시,2018-03-15 00:00:00
2993,2019-01-25 03:57:00,201901,상품C,300.0,김이안,F시,2017-04-29 00:00:00
2994,2019-02-15 02:56:00,201902,상품Y,2500.0,김정민,B시,2017-07-01 00:00:00
2995,2019-06-22 04:03:00,201906,상품M,1300.0,김재원,E시,2018-03-31 00:00:00
2996,2019-03-29 11:14:00,201903,상품Q,1700.0,김지율,B시,2017-03-15 00:00:00
2997,2019-07-14 12:56:00,201907,상품H,800.0,김승주,E시,2018-07-15 00:00:00
2998,2019-07-21 00:31:00,201907,상품D,400.0,정준기,B시,2017-02-05 00:00:00

In [40]:
byItem=import_data.pivot_table(index="purchase_month",columns="item_name",aggfunc="size",fill_value=0)
byItem

item_name,상품A,상품B,상품C,상품D,상품E,상품F,상품G,상품H,상품I,상품J,...,상품Q,상품R,상품S,상품T,상품U,상품V,상품W,상품X,상품Y,상품Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

In [41]:
byPrice=import_data.pivot_table(index="purchase_month",columns="item_name",values="item_price",aggfunc="sum",fill_value=0)
byPrice

item_name,상품A,상품B,상품C,상품D,상품E,상품F,상품G,상품H,상품I,상품J,...,상품Q,상품R,상품S,상품T,상품U,상품V,상품W,상품X,상품Y,상품Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1800,2600,5700,6800,9000,9000,7700,12800,16200,17000,...,28900,37800,38000,34000,14700,48400,29900,33600,25000,0
201902,1900,2800,7800,8400,8000,8400,9800,13600,10800,14000,...,37400,39600,41800,46000,39900,48400,55200,38400,27500,2600
201903,1700,4200,6000,6800,4500,16200,9800,14400,10800,16000,...,39100,28800,38000,24000,48300,39600,36800,50400,40000,0
201904,1700,3800,7200,8000,9000,10200,9800,8800,16200,13000,...,34000,36000,30400,32000,23100,33000,32200,38400,50000,0
201905,2400,2800,4800,5600,9500,10800,16100,12000,14400,11000,...,22100,39600,34200,32000,33600,19800,48300,38400,50000,0
201906,2400,2400,3300,7600,6500,10800,10500,10400,17100,22000,...,25500,28800,39900,24000,37800,44000,39100,36000,32500,0
201907,2000,4000,5100,6800,6000,10200,13300,15200,17100,23000,...,25500,34200,43700,42000,27300,61600,36800,43200,30000,0

In [43]:
byCustomer=import_data.pivot_table(index="purchase_month",columns="고객이름",aggfunc="size",fill_value=0)
byCustomer

고객이름,김가온,김강민,김강현,김건우,김건희,김경민,김규민,김규현,김다온,김대현,...,김현수,김현승,김현우,김현준,김현진,김호준,정도형,정영훈,정우석,정준기
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1,2,1,2,5,3,1,1,1,5,...,3,2,4,2,1,1,4,4,4,3
201902,3,1,4,3,3,5,2,3,1,5,...,5,3,7,0,0,1,2,0,2,2
201903,4,0,3,1,1,2,2,1,1,5,...,3,2,1,2,1,2,1,2,3,4
201904,1,0,3,0,2,1,2,6,2,4,...,0,4,3,1,1,2,2,4,3,1
201905,0,0,2,2,1,4,6,3,3,1,...,2,2,1,4,3,0,0,0,1,2
201906,5,0,3,0,2,1,6,1,1,1,...,2,4,1,0,4,2,2,0,0,2
201907,3,1,3,2,2,1,4,1,4,3,...,2,1,0,4,0,2,6,1,2,3

In [44]:
byRegion=import_data.pivot_table(index="purchase_month",columns="지역",aggfunc="size",fill_value=0)
byRegion

지역              A시  B시  C시  D시  E시  F시  G시  H시
purchase_month
201901          59  55  72  34  49  57  49  42
201902          71  46  65  48  61  52  43  63
201903          64  52  57  43  52  59  51  59
201904          64  48  54  45  48  58  40  52
201905          57  52  68  48  59  65  35  43
201906          53  47  61  30  51  51  58  58
201907          76  53  61  42  54  64  47  54

In [45]:
away_data=pd.merge(uriage_data,kokyaku_data,left_on="customer_name",right_on="고객이름",how="right")
away_data[away_data["purchase_date"].isnull()][["고객이름","등록일"]]

     고객이름        등록일
2999  김서우 2019-04-23